</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
<footer >
    <div style="height: 6rem; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-33.01,-2.45 C149.99,150.00 316.87,129.77 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    <div class="footer">
        <p>All rights reserved</p>
        <img class="logo" src="/assets/logo2.png" alt="logo">
       <div> <a href="/" class="fa fa-facebook"></a>
        <a href="/"  class="fa fa-twitter"></a>
        <a href="/"  class="fa fa-instagram"></a></div>
        </div>
</footer>