<%- include("partials/head.ejs")%>
<%- include("partials/header.ejs")%>
<article>
    <div class="form">
        <form action="/signUp" method="POST">
            <h2 class="formh2">Register Form</h2>
            <p class="formh2"><%= error %></p>
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="Name" name="names">
            </div>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="text" placeholder="Email" name="eMail">
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Password" name="password">
            </div>
            <div class="input-container">
                <i class="fa fa-file-image-o icon"></i>
                <input class="input-field" type="text" placeholder="Image url for profile" name="urlImage">
            </div>
            <div class="input-container">
                <i class="fa fa-comment-o icon"></i>
                <input class="input-field" type="text" placeholder="Tell us a little about yourself" name="description">
            </div>
            <div class="input-container">
                <i class="fa fa-map-marker icon"></i>
                <input class="input-field" type="text" placeholder="Ubication" name="address">
            </div>
            <button type="submit" class="btn">Submit</button>
            <p class="formh2">Do you already have an account? <a href="/signUp">Sing In</a></p>
        </form>
</article>
<%- include("partials/footer.ejs")%>
</body>

</html>